<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xmlns:cxf="http://cxf.apache.org/core" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:http-conf="http://cxf.apache.org/transports/http/configuration"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
        http://cxf.apache.org/transports/http/configuration http://cxf.apache.org/schemas/configuration/http-conf.xsd
        http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
        http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
        http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd">


	<!-- 加入默认配置 -->
	<import resource="classpath*:META-INF/cxf/cxf.xml" />
	<!-- soap风格配置
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml"/> -->
	<import resource="classpath*:META-INF/cxf/cxf-servlet.xml" />
	<!--
		版本已经取消此配置文件
		<import resource="classpath*:META-INF/cxf/cxf-extension-soap.xml" /> 
	-->

	<!-- 超时时间(毫秒) -->
	<http-conf:destination name="*.http-destination">
		<http-conf:server ReceiveTimeout="10000" />
	</http-conf:destination>
	
	<!-- 
		<http-conf:conduit name = "{WSDL Namespace}portName.http-conduit" >       
           <http-conf:client ConnectionTimeout = "10000" ReceiveTimeout = "20000" />      
    	</http-conf:conduit >
   	-->  

	<!-- jackson转换器 -->
	<bean id="jacksonObjectMapper"
		class="org.springframework.http.converter.json.Jackson2ObjectMapperFactoryBean"></bean>
	
	<bean id="jacksonProvider"
		class="com.fasterxml.jackson.jaxrs.json.JacksonJaxbJsonProvider">
		<property name="mapper" ref="jacksonObjectMapper" />
	</bean>

	<!-- jeesite-soa service -->
	<jaxrs:server id="mamApplication" address="/userservice/0.2">
		<!-- 
			<jaxrs:features>
				<cxf:logging />
			</jaxrs:features> 
		-->
		<jaxrs:serviceBeans>
			<!-- 用户管理 -->
			<ref bean="userApplication" />
			<!-- 登录服务 -->
			<ref bean="loginApplication" />
		</jaxrs:serviceBeans>
		<jaxrs:extensionMappings>
			<entry key="feed" value="application/atom+xml" />
			<entry key="json" value="application/json" />
			<entry key="xml" value="application/xml" />
			<entry key="html" value="text/html" />
		</jaxrs:extensionMappings>
		<jaxrs:providers>
			<ref bean="jacksonProvider" />
			<!-- 
				<bean class="com.foreveross.common.infra.exception.handle.CxfExceptionMapper"> 
					<property name="systemName" value="mam"/> 
				</bean> 
			-->
		</jaxrs:providers>
	</jaxrs:server>

	<!-- jeesite-oa service -->
	<jaxrs:server id="actApplication" address="/actservice/0.1">
		<!-- 
			<jaxrs:features>
				<cxf:logging />
			</jaxrs:features> 
		-->
		<jaxrs:serviceBeans>
			<!-- 流程任务处理 -->
			<ref bean="actTaskApplication" />
		</jaxrs:serviceBeans>
		<jaxrs:extensionMappings>
			<entry key="feed" value="application/atom+xml" />
			<entry key="json" value="application/json" />
			<entry key="xml" value="application/xml" />
			<entry key="html" value="text/html" />
		</jaxrs:extensionMappings>
		<jaxrs:providers>
			<ref bean="jacksonProvider" />
			<!-- 
				<bean class="com.foreveross.common.infra.exception.handle.CxfExceptionMapper"> 
					<property name="systemName" value="mam"/> 
				</bean> 
			-->
		</jaxrs:providers>
	</jaxrs:server>
	
	<!-- jeesite-gen service -->
	<jaxrs:server id="genApplication" address="/genservice/0.1">
		<!-- 
			<jaxrs:features>
				<cxf:logging />
			</jaxrs:features> 
		-->
		<jaxrs:serviceBeans>
			<!-- 测试数据 -->
			<ref bean="testDataApplication" />
		</jaxrs:serviceBeans>
		<jaxrs:extensionMappings>
			<entry key="feed" value="application/atom+xml" />
			<entry key="json" value="application/json" />
			<entry key="xml" value="application/xml" />
			<entry key="html" value="text/html" />
		</jaxrs:extensionMappings>
		<jaxrs:providers>
			<ref bean="jacksonProvider" />
			<!-- 
				<bean class="com.foreveross.common.infra.exception.handle.CxfExceptionMapper"> 
					<property name="systemName" value="mam"/> 
				</bean> 
			-->
		</jaxrs:providers>
	</jaxrs:server>
</beans>